{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ hraci_detail.prijmeni }}</h4>
                {% if hraci_detail.foto %}<img class="card-img-top img-fluid" src="{{ hraci_detail.foto.url }}">
                {% endif %}
                <p class="card-text">
                    <strong>Klub:</strong>
                    {{ hraci_detail.klubNazev }}
                </p>
                <p><strong>Výška:</strong> {{ hraci_detail.vyska }} cm</p>
                <p><strong>Datum narození:</strong> {{ hraci_detail.datum_narozeni }}</p>
                <p><strong>Pozice:</strong> {{ hraci_detail.pozice }}</p>
                <p><strong>Preferovaná noha:</strong> {{ hraci_detail.preferovana_noha }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
